.maincont {
  height: 90vh;
  width: 90vw;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
}
.mobilelogo {
  display: none;
}

/*                   Left Side                   */

.leftcont {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.leftcont * {
  width: 100%;
}
.welcomediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.welcomediv h1 {
  font-size: 45px;
  margin: 0;
  font-weight: 600;
}
.welcomediv p {
  font-size: 18px;
  color: grey;
  margin: 2% 0;
}
.remembermediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.remembermediv input {
  height: 18px;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
}
.inneremember {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.remembermediv label {
  height: max-content;
  margin: 0;
}
.remembermediv p {
  margin: 0;
  text-align: right;
  color: rgb(0, 132, 255);
  cursor: pointer;
}

.leftlastdiv {
  text-align: center;
  font-size: 18px;
}
.leftlastdiv span {
  color: rgb(0, 140, 255);
  cursor: pointer;
}

/*                   Right Side                   */

.rightcont {
  width: 55%;
  height: 100%;
  background: linear-gradient(to bottom, #a28ff6, #58c9f1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.logo {
  width: 25%;
  border-radius: 60px;
}
.rightcont h1 {
  font-size: 2rem;
  margin: 10px 0 0 0;
  font-weight: 600;
}
.rightcont p {
  width: 80%;
  text-align: center;
}
.dots {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  margin-top: 20px;
  border-radius: 50%;
}
.line {
  height: 10px;
  width: 50px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.maincont2 {
  width: 90vw;
  max-width: 500px;
  margin: auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.maincont2 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 40px;
  background: linear-gradient(to bottom, #7563c9, #49bae4);
  background-clip: text;
  color: transparent;
}

/*               Responsive css        */

@media (max-width: 950px) {
  .welcomediv h1 {
    font-size: 35px;
  }
}
@media (max-width: 820px) {
  .mobilelogo {
    display: block;
    height: 200px;
    width: auto;
    margin: 0;
  }
  .maincont {
    justify-content: center;
  }
  .rightcont {
    display: none;
  }
  .leftcont {
    width: 100%;
    max-width: 500px;
    justify-content: flex-start;
  }
  .remembermediv {
    margin: 10px 0 20px 0;
  }
}
