.leftMainContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.LeftTopBar {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}
.InnerLeftTopBar {
  height: 70%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InnerLeftTopBar > img {
  height: 100%;
  border-radius: 50%;
}
.InnerLeftTopBarRight {
  height: 100%;
  width: auto;
}
.InnerLeftTopBarRight * {
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.InnerLeftTopBarRight img {
  height: 50px !important;
  width: 50px !important;
  object-fit: cover;
}
.InnerLeftTopBarRight img:hover {
  filter: brightness(110%);
}
.settings {
  height: 100% !important;
  font-size: 1.5rem !important;
  margin: 0 15px;
  cursor: pointer;
  z-index: 1000;
  pointer-events: all;
}
.settings:hover {
  animation: spin 1s ease-in-out 0s 1 forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* ______________________________________ */

.optionbar {
  height: 50px;
  background: transparent;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.addbuttondiv {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(187, 187, 187);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.addbuttondiv:hover {
  background-color: rgb(175, 175, 175);
}
.searchChatsDiv {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
}
.searchChatsDiv input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 35px;
  font-size: 17px;
  margin-left: 10px;
  max-width: 70%;
  font-family: "Poppins", sans-serif;
}
.noresults {
  text-align: center;
  width: 100%;
  margin-top: 25%;
}
.searchChatsDiv *:not(input) {
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.8rem !important;
  color: rgb(63, 63, 63);
}
.cards {
  width: 100%;
  max-height: calc(95vh - 140px);
  overflow-x: hidden;
  overflow-y: overlay;
}
@media (max-width: 650px) {
  .cards {
    max-width: 100%;
    max-height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: overlay;
  }
}
.card {
  height: 50px;
  background: transparent;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card:hover {
  background-color: #7c63ec38;
}
.card > * {
  height: 100%;
}
.cardleftdiv {
  max-width: 60%;
  display: flex;
  align-items: center;
}
.cardleftdiv div * {
  margin: 0 0 0 10px;
}
.cardimagecont {
  height: 50px;
  width: 50px;
  min-width: 50px;

  border-radius: 50%;
  margin: 0 5px 0 0;
  position: relative;
  padding: 0;
}
.cardleftdiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #7b63ec;
  margin: 0 !important;
}
.badge {
  height: 25px !important;
  padding: 0;
  width: 25px;
  background-color: #7b63ec;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: flex;
  font-size: 16px;
  transform: translateY(10px);
  align-items: center;
  justify-content: center;
}
.badge:hover {
  background-color: #9a87ee;
}
.badge * {
  margin: 0;
}
.cardleftdiv div {
  max-width: 100%;
}
.cardleftdiv div p {
  color: rgb(59, 59, 59);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardleftdiv div h3 {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active {
  background-color: #a6b7df;
}
.active img {
  border: 2px solid #9c08ff;
}
.addDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.185);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blurry {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 95;
}
.add {
  height: auto;
  width: 80%;
  background-color: rgb(189, 189, 189);
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  z-index: 100;
  position: relative;
  box-shadow: 0px 0px 60px 18px rgba(0, 0, 0, 0.2);
}
.closeicon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/*           ________________Left side css done________________                */
.rightpage {
  height: 100%;
  width: 100%;
  position: relative;
}
.rightSideTopBar {
  height: 50px;
  background-color: rgb(218, 218, 218);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightSideTopBar * {
  height: 100%;
}
.barleftdiv {
  display: flex;
  align-items: center;
}
.barleftdiv > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.barleftdiv > div {
  display: flex;
  align-items: center;
}
.barleftdiv > div > h3 {
  height: min-content;
  margin: 0 0 0 10px;
  font-weight: 500;
  cursor: pointer;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.dotsicon {
  cursor: pointer;
  font-size: 2rem !important;
}
.messeges {
  max-width: 100%;
  padding: 10px;
  height: calc(95vh - 90px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.messegeDiv {
  max-width: 100%;
  display: flex;
  margin: 5px 0;
  padding: 5px;
}
.messege {
  padding: 5px 8px;
  margin: 10px 0 0 0;
  width: max-content;
  max-width: 40%;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.yes {
  display: flex;
  justify-content: flex-end;
}
.yes p {
  background-color: #9c08ff;
  position: relative;

  z-index: 10;
}
.no p {
  background-color: #7b63ec;
  position: relative;
  z-index: 10;
}
.no > p::before {
  content: "";
  background-color: #7b63ec;
  height: 20px;
  width: 17px;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 2;
}
.no > p::after {
  content: "";
  background-color: #f0f0f0;
  height: 40px;
  width: 17px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 2;
}
.yes > p::before {
  content: "";
  background-color: #9c08ff;
  height: 20px;
  width: 17px;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 2;
}
.yes > p::after {
  content: "";
  background-color: #f0f0f0;
  height: 40px;
  width: 17px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 2;
}
.messegesDiv {
  margin: 0 0 90px 0;
}
.inputTabParent {
  position: absolute;
  bottom: 10px;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputTab {
  background-color: #c778f83f;
  border: 2px solid #8a4eb3;
  backdrop-filter: blur(1px);
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 50px;
  /* width: 90%; */
  height: 50px;
  width: 10000px;
  max-width: 90%;
}
.inputTab input {
  height: 100%;
  margin-left: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #50276b;
}
.inputTab *:not(input) {
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.8rem;
  color: #591785;
}

.name {
  margin: 0;
  width: max-content;
  font-size: 14px;
  color: rgb(219, 219, 219);
}
.messege span {
  display: block;
}
@media (max-width: 500px) {
  .messege {
    max-width: 60%;
  }
}
.LoaderContainer {
  width: 100%;
  height: calc(95vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropmenu {
  background-color: #b99aeb;
  height: max-content;
  position: absolute;
  right: 0;
  top: 70px;
  width: max-content;
  border-radius: 5px;
  z-index: 1000000000000000000000000000000000;
  overflow: hidden;
  /* display: none; */
}
.dropmenu p {
  padding: 15px 20px;
  margin: 0;
  background-color: #b99aeb;
  height: 20px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  color: white;
}
.dropmenu p:first-of-type {
  padding-top: 18px;
}
.dropmenu p:last-of-type {
  padding-bottom: 18px;
}
.dropmenu p:hover {
  background-color: #bfa9e2;
}
.chatlogo {
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.link {
  text-decoration: underline;
  color: rgb(0, 119, 255);
  cursor: pointer;
}
.buttonDiv {
  position: absolute;
  bottom: 10px;
}
.groupcards {
  max-height: calc(95vh - 140px - 200px);
}
.group .cardleftdiv img {
  height: 100%;
  border-radius: 50%;
  border: 2px solid #12e269;
}
.arrow {
  width: 50px;
  position: relative;
  margin-right: 5px;
}
.arrow * {
  height: 60%;
  font-size: 2rem !important;
}
.left {
  display: flex;
  align-items: center;
}
@media (max-width: 650px) {
  .hide {
    display: none;
  }
  .messeges {
    max-width: 100%;
    padding: 10px;
    height: calc(95vh - 50px);
  }
}
@media (max-width: 800px) {
  .messege {
    max-width: 70%;
  }
}
.center {
  height: max-content;
}
.admin {
  width: max-content;
  padding: 5px;
  height: max-content;
  background-color: #7c63ecb0;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.admin > p {
  margin: 0;
  padding: 0;
  color: white;
}
.date p {
  margin: 0;
  padding: 0;
  color: #a99ebfb3;
  font-size: 15px;
}
.date {
  position: absolute;
  top: 5px;
  right: 10px;
  height: max-content;
}
.overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.336);
  border: 2px solid rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > * {
  color: white;
  font-size: 2rem !important;
  margin: 0 !important;
}
.hidden {
  display: none;
}
.emoji {
  height: 100%;
  display: grid;
  margin-left: 5px;
  place-items: center;
  width: max-content;
  margin: 0;
}
.emojis {
  position: absolute;
  bottom: 80px;
  left: 10px;
  z-index: 10;
}
