.SearchUserDiv,
.createGroupDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backarrow {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.heading {
  margin: 10px 0;
}

.inputDiv {
  width: 90%;
}
.buttonDiv {
  width: 90%;
}
.pfpcont {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 /1;
  overflow: hidden;
}

.profileimage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.hover {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.185);
  backdrop-filter: blur(2px);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.hover * {
  font-size: 2.5rem;
}
.hover > input {
  height: 150px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.pfpcont:hover .hover {
  opacity: 1;
}
.profileinputdiv {
  /* max-height: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.profileinputdiv input,
.profileinputdiv textarea {
  margin: 10px;
}
